__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.ropeproject

.venv


.env
.env.docker
.DS_Store

.dockerignore

.github

logs/
config/

migrations

src/initial_market_data/plots_json
src/polygon_generator/region_bboxes.geojson
src/farmland_characteristics/dash2_test.py
src/farmland_characteristics/test_data

db/data

docs/*
!docs/regen_app_manual.pdf

credentials.json

config.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.global.yml
