__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info


.venv


.env
.env.docker
.DS_Store

.dockerignore

logs/
config/

src/initial_market_data/plots_json
src/farmland_characteristics/test_data

db/data

docs/*
!docs/user_guide.pdf

credentials.json